[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
multidict = "*"

[dev-packages]
pytest = "*"
"flake8" = "*"
pytest-benchmark = "*"
sphinx = "*"
sphinx-rtd-theme = "*"

[requires]
python_version = "3.6"
